.outter{
    background-color: rgb(225, 255, 225);
}
.nav-ul{
    width: 90px;
    text-align: center;
    padding: 80px 0;
    line-height: 3;
    a{
        padding: 3px 7px;
        border-radius: 3px;
        &:hover,
        &[class~=router-link-active]{
            background: #ffff93;
        }
    }
}
