.outer{
    display: flex;
    padding: 10px;
    overflow: hidden;
    height: 100%;
    max-height: 100vh;
    .red{
		color: red;
	}
	.blue{
		color: blue;
	}
}

.left{
    flex: none;
    margin-right: 10px;
}

.right{
    flex: auto;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    // width: 900px;
    height: 100%;
    max-height: 100%;
    &>*{
        flex-shrink: 0;
    }
}

