.outer-dom{
    padding: 40px 20px 20px;
}

.result-list{
    margin: 20px 0 0;
    height: 80vh;
    overflow-y: auto;
    li{
        line-height: 2.5;
    }
    span{
        &[class~=matched]{
            // color: red;
            background: rgb(255, 255, 150);
        }
        &[class~=l-01]{
            color: red;
            background: rgb(255, 255, 100);
        }
        &[class~=l-02]{
            background: rgb(255, 255, 100);
        }
        &[class~=l-03]{
            background: rgb(255, 255, 180);
        }
    }
}


