.welcome-page{
    padding: 20px;
}

.top-one{
    margin: 110px 0 0;
    font-size: 40px;
}

.welcome{
    font-size: 30px;
    padding: 20px 0 30px;
    button{
        margin: 0 10px 0 0;
    }
}

h4{
    font-size: 20px;
}
